@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body {
	background: #fff;
	color: #69606b;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	font-family: 'Raleway', Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}
html, body, .container, .header {
	height: 100%;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.title {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 2.25em;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: bold;
	font-size: 16px;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
	color: #F1EEDA;
}

.title p.subline {
	font-size: 22px;
}
.content .estudios .diplomados{
	padding: 0 0 2.6em;
  	font-size: 20px;
  	margin: -20px 10px 10px;
  	color: #F1EEDA;
  	font-weight: normal;
}
/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 5000;
	display: block;
	padding: 0;
	width: 2em;
	height: 2em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;

}
button.trigger img{
	width: 50px;
	padding-top: 30px;	
}
.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	content: "\e097";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* -------------------------- */
/* Side Fixed */
/* -------------------------- */
.intro-effect-sidefixed:not(.notrans) .bg-img::before {
	-webkit-transition-property: background-color;
	transition-property: background-color;
}

.intro-effect-sidefixed:not(.notrans) .bg-img::after {
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}

.intro-effect-sidefixed:not(.notrans) .title p {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.intro-effect-sidefixed:not(.notrans) .content > div {
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
}

.intro-effect-sidefixed:not(.notrans) .bg-img::before,
.intro-effect-sidefixed:not(.notrans) .bg-img::after,
.intro-effect-sidefixed:not(.notrans) .title p,
.intro-effect-sidefixed:not(.notrans) .content > div {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-sidefixed .header {
	position: absolute;
}

.intro-effect-sidefixed .bg-img {
	position: fixed;
}

.intro-effect-sidefixed .bg-img img {
	left: auto;
	right: 0;
}

.intro-effect-sidefixed .bg-img::before,
.intro-effect-sidefixed .bg-img::after {
	content: '';
	position: absolute;
	z-index: 100;
}

.intro-effect-sidefixed .bg-img::after {
	background: #2D2C41;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.intro-effect-sidefixed.modify .bg-img::after {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.intro-effect-sidefixed .bg-img::before {
	width: 100%;
	height: 100%;
}

.intro-effect-sidefixed.modify .bg-img::before {
	background-color: rgba(138,145,165,0.4);
}

.intro-effect-sidefixed .codrops-demos {
	text-align: center;
  	padding-bottom: 40px;
  	font-size: 18px;
  	font-weight: bold;
  	margin-bottom: 70px;
  	background: #C12C42;
  	height: 100px;
  	padding-top: 35px;
}
.intro-effect-sidefixed .codrops-demos img{
	display: none;
}
.intro-effect-sidefixed .menuMobile{
	text-align: center;
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 70px;
	background: #C12C42;
	height: 100px;
	display: none;
	padding-top: 35px;
}
.intro-effect-sidefixed .codrops-demos a {
  	padding: 30px;
  	width: 100%;
  	color: #fff;
}
.intro-effect-sidefixed .codrops-demos a:hover{
	padding-bottom: 5px;
	color: #57585B;
}
.intro-effect-sidefixed .title {
	position: relative;
	top: auto;
	left: auto;
	text-align: left;
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
}

.intro-effect-sidefixed.modify .title {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-sidefixed .title h1.name {
	font-family: 'avenir';
	font-weight: bold;
	color: #A8C545;
	text-align: center;
  	margin-bottom: 10px;
  	font-size: 45px;
  	padding-top: 30px;

}
.intro-effect-sidefixed .title h1 span {
	font-size: 30px;
	font-weight: 100;
}
.intro-effect-sidefixed .title p {
	opacity: 0;
	color: #F1EEDA;
}

.intro-effect-sidefixed.modify .title p {
	opacity: 1;
	color: #F1EEDA;
	line-height: 35px;
}
.title p span{
	color: #A8C545;
	font-size: 20px;
}
.title .texto{
	margin-top: 30px;
}
.subline.uni{
	border-top: 1px solid;
	padding-top: 10px;
	color: #A8C545;
}
.title .subline{
	text-align: center;
}
.intro-effect-sidefixed .content {
	width: 60%;
	margin-left: 40%;
	padding: 0 80px;
}

.intro-effect-sidefixed .content div {
	position: relative;
	margin: 50px 0;
	color: #E4EBF2;
}


.intro-effect-sidefixed .content div:nth-child(2) {
	opacity: 0;
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
}

.intro-effect-sidefixed.modify .content div:nth-child(2) {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.container .section{
	position: relative;
  	background: #2D2C41;
  	width: 100%;
}
.container .section .nameSection{
	color: #A8C545;
  	font-size: 55px;
  	font-weight: bold;
  	text-align: center;
  	opacity: 1;
  	padding: 150px 100px 0px;
}
.container .section .ilustre{
	padding: 150px 100px 0px;
}
.container .section p{
	color: #F1EEDA;
	opacity: 0.7;
	padding: 0px 250px 40px;
	text-align: center;
	font-size: 22px;
	font-weight: normal;
}
.container .section .ilustracion{
	background: #8A91A5;
}
.container .section ul{
	display: inline-flex;
  	width: 100%;
  	flex-wrap: wrap;
  	justify-content: center;
  	list-style: none;
  	padding: 0 15px;
  	padding-bottom: 100px;
}
.section ul li{
	padding: 6px;
}
.container .fixed{
	background: url(../images/5.jpg)no-repeat;
	height: 400px;	
	width: 100%;
	position: relative;
}
.section video{
	width: 100%;
	padding-bottom: 100px;
}
.ilustracion .pantalla{
	background-color: rgba(193, 44, 66, 0.9);
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left:  0;
  	justify-content: center;
  	align-items: center;
  	display: none;
  	z-index: 1;
}
.ilustracion .close{
	width: 30px;
	top: 50px;
	position: absolute;
	right: 50px;
	width: 30px;
}
.ilustracion .img{
	margin: 100px;
}
.ilustracion .vertical{
	width: 400px;
}
#contacto{
	padding: 50px;
}
#contacto div{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#contacto div a {
	color: #C12C42;
  	font-weight: bold;
  	font-size: 20px;
  	border: 1px solid;
	padding: 10px;
	width: 250px;
	text-align: center;
	margin: 12px;
}
#contacto div .nameContact{
	width: 100%
}
#contacto div a:hover {
	color: #fff;
}
.frase{
	display: block;
}
.frase .imgText{
	width: 50%;
  	margin: auto;
  	display: block;
}
.frase .monster{
	width: 75%;
	margin-bottom: -160px;
}
.scroll{
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	z-index: 1;
}
/* Media Queries */
@media screen and (max-width: 47em) {
	.title, .content {
		font-size: 70%;
	}

	.codrops-demos a {
		font-size: 80%;
	}

	.intro-effect-side .title {
		width: 100%;
		padding: 0 1em;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.intro-effect-side.modify .bg-img::before {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.intro-effect-side .bg-img::after {
		border-left-width: 0px;
		border-right-width: 0px;
		right: 0px;
		left: 0px;
		background: rgba(255,255,255,0.1);
	}

	.intro-effect-side.modify .bg-img::after {
		background: rgba(255,255,255,0.8);
	}
.container .intro-effect-sidefixed
	.intro-effect-sidefixed .content {
		width: 100%;
		margin-left: auto;
	}

	.intro-effect-sidefixed .bg-img::after {
		width: 95%;
	}

}

@media screen and (max-width: 27em) {
	.intro-effect-jam3 .content {
		padding: 0 2em 5em;
	}

	.intro-effect-grid .grid li h2 {
		display: none;
	}

	.intro-effect-push .header .title {
		top: 60px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.title, .content {
		font-size: 50%;
	}

	button.trigger::before {
		display: none;
	}
}
@media screen and (max-width: 670px) {
	.intro-effect-sidefixed .content {
	  	width: 100%;
	  	margin-left: 0;
		padding: 0; 
	}
	.intro-effect-sidefixed .bg-img::after {
	  	width: 100%;
	}
	.content .title{
		padding: 0 20px;
	}
	.container .fixed {
	  	background: none;
	  	height: auto;
	}
	.container .section .nameSection{
		padding: 50px 20px 0;
	}
	.container .section p{
		padding: 50px 20px;
	}
	.intro-effect-sidefixed .codrops-demos{
		display: block;
		justify-content: center;
		height: auto;
	}
	.intro-effect-sidefixed .codrops-demos .igual{
		display: block;
		width: 50px;
		margin: auto;
	}
	.intro-effect-sidefixed .codrops-demos .mabout{
		padding-top: 60px;
	}
	.mobileMenu{
		display: block;
	}
	.intro-effect-sidefixed .codrops-demos a{
		font-size: 21px;
		padding: 25px;
		display: none;
	}
	.pantalla .ilustracion-1 .img {
	  	width: 280px;
	  	margin: 150px 10px;
	}
	.container .section ul {
  		display: inline-flex;
  		width: 100%;
  		flex-wrap: wrap;
  		list-style: none;
  		padding: 0;
  		padding-bottom: 0; 
	}
	.section ul li {
	  	padding: 3px;
	  	width: 150px;
	}
	.section ul li img {
	  	width: 95%;
	}
	.og-grid {
		list-style: none;
		padding: 0px;
		width: 100%;
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.og-grid li{
		width: 150px;
	}
	.og-grid li img{
		width: 95%;
	}
	.container .fixed video{
		display: none;
	}
	.frase{
		background: #2D2C41;
  		padding: 0px 10px;
  		display: block;
	}
	.frase .imgText{
		width: 100%;
		margin: auto;
		display: block;
		margin-bottom: -95px;
	}
	.frase .textodiseno{
		margin-bottom: -15px;
	}
	.intro-effect-sidefixed.modify .title p {
	  	font-size: 21px;
	  	text-align: center;
	}
	.content .estudios .diplomados{
		text-align: center;
	}
	.ilustracion .close {
	  	top: 50px;
	  	position: absolute;
	  	right: 0px;
	  	width: 30px;
	  	left: 0;
	  	margin: auto;
	}
	.ilustracion .img {
	  	margin: 40px;
	}
	.container .section .nameSection{
		font-size: 45px;
	}
		.section video{
		display: none;	
	}
}